/* komentarze, selector p oznacza wszystkie  w  dokumencie*/
 body {
  font-family: Verdana, Arial, Helvetica sans;
  background-color: #ccffcc; /* zielony to 77ff77 rgb silver lub #fff lub rgb(127,255,)*/
  color: navy; /*kolor znakow*/
 }
 
 table {
  background-color: silver;
 }
 
 td {
 background-color: white;
 color: black;
 text-align:right;
 padding: 0.5em 1em /*15px;  uzupelniamy wnetrze komorki zeby tekst nie przylegal od scian, jak jednostki to ze wzgledu na firefox nei mozna zrobic spacji przy jednostkach np 15 px*/
                  /*em standardowa wielkosc znakow jaka ktos mial i sie dopasowuje/*/
 }
 
 th {
    background-color: blue;
 color: white;
 text-align:center;
 font-weight: bold;
 padding: 0.5em 1em 
 }
           /*.jeden dowolny element klasy jeden, klasy do wielu elementow */
   p.jeden {
        color: red;
   }
   #dwa { /* do id, pojedynczy element jak jest */
   
         color: green;
   }
   
   table tr td p {      /*  p ktore jest wewnatrz td kotre wewnatrz tr */
   
   }
   p b{
   
   color: violet;
   text-decoration: none;
   font-weight: normal;
   font-size: 200%;
   
   }
   /*pseudoklasy*/
   
   a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    
   }
   a:hover{
   color: red;
   }
   
   a:active{
    color: green;
   }